
{% include "_header.tpl" %}

	<table class="ui celled striped table">
	  <tbody>
	    <tr>
	      <td class="collapsing">
	        Github
	      </td>
	      <td class="collapsing">
	        <b>REQUIRED</b>
	      </td>
	      <td>

			{% if authorized.github %}
	  			<div link-to="logout" class="ui green fluid button">
				  Logout
				</div>
			{% else %}
		      	<div link-to="login/github" class="ui red fluid button">
				  Login
				</div>
			{% endif %}

		  </td>
	    </tr>
<!--	    
	    <tr>
	      <td class="collapsing">
	        HipChat
	      </td>
	      <td class="collapsing">
	        OPTIONAL
	      </td>
	      <td>
	      	<div link-to="login/github" class="ui blue fluid button">
			  Login
			</div>
		  </td>
	    </tr>
-->
	  </tbody>
	</table>

{% include "_footer.tpl" %}
